#pacman{
	width: 100px;
	height: 100px;
	animation-name: pacman;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    position: fixed;
}
@keyframes pacman{
    from{
    	top:0px;left:0px;
    }
	25%{
		top:0px;left:92%;
		transform: rotate(90deg);
	}
	50%{
		top:90%;left:92%;
		transform: rotate(180deg);
	}
	75%{
		top:90%;left:0px;
		transform: rotate(270deg);
	}
	to {
		top:0px;left:0px;
	}